:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    }
*{
        margin: 0; 
        padding: 0;
        box-sizing: border-box;
}

/* Colores de Pokémon */

.bg-green {
    background: #49d0b0;
    
  }
  
  .bg-red {
    background: #ff3322;
  }
  
  .bg-blue {
    background: #3399ff;
  }
  
  .bg-yellow {
    background: #ffcc33;
  }
  
  .bg-orange {
    background: #ff8800;
  }
  
  .bg-purple {
    background: #aa66cc;
  }
  
  .bg-pink {
    background: #ff77aa;
  }
  
  .bg-brown {
    background: #a0522d;
  }
  
  .bg-gray {
    background: #a8a8a8;
  }
  
  .bg-black {
    background: #333333;
  }
  
  .bg-white {
    background: #ffffff;
  }
  
  .bg-teal {
    background: #008080;
  }
  
  .bg-lime {
    background: #bfff00;
  }
  
  .bg-cyan {
    background: #00ffff;
  }
  
  .bg-magenta {
    background: #ff00ff;
  }
  
  .bg-gold {
    background: #ffd700;
  }
  
  .bg-silver {
    background: #c0c0c0;
  }
  
  .bg-beige {
    background: #f5f5dc;
  }

  /* Colores de Pokémon */
.color-normal {
  background-color: #A8A878;
}

.color-fire {
  background-color: #F08030;
}

.color-water {
  background-color: #6890F0;
}

.color-electric {
  background-color: #F8D030;
}

.color-grass {
  background-color: #78C850;
}

.color-ice {
  background-color: #98D8D8;
}

.color-fighting {
  background-color: #C03028;
}

.color-poison {
  background-color: #A040A0;
}

.color-ground {
  background-color: #E0C068;
}

.color-flying {
  background-color: #A890F0;
}

.color-psychic {
  background-color: #F85888;
}

.color-bug {
  background-color: #A8B820;
}

.color-rock {
  background-color: #B8A038;
}

.color-ghost {
  background-color: #705898;
}

.color-dragon {
  background-color: #7038F8;
}

.color-dark {
  background-color: #705848;
}

.color-steel {
  background-color: #B8B8D0;
}

.color-fairy {
  background-color: #EE99AC;
}

// /* Estilo para los cuadros de tipo */
// .typeBox {

// }

